@model ProductAddRequest

@{
    ViewBag.Title = "Create Product";
}

<form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">
    <h2 class="text-primary mt-3">
        Create Product
    </h2>

    <div class="container border p-3 pt-4">
        <div class="row mb-3">
            <div class="col-3">
                <label asp-for="Title" class="pt-3">Title</label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label asp-for="Description" class="pt-3">Descrition</label>
            </div>
            <div class="col-9">
                <textarea type="text" asp-for="Description" class="form-control"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label asp-for="CategoryId" class="pt-3">Category</label>
            </div>
            <div class="col-9">
                <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label asp-for="ISBN" class="pt-3">ISBN</label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label asp-for="Author" class="pt-3">Author</label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label asp-for="Price" class="pt-3">Price 1-50</label>
            </div>
            <div class="col-9">
                <input type="number" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label asp-for="ImageUrl" class="pt-3">Image</label>
            </div>
            <div class="col-9">
                <input type="file" name="image" class="form-control border-0" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
            <div class="col-6">
                <a asp-controller="Products" asp-action="Index" class="btn btn-secondary form-control">Back</a>
            </div>
        </div>
        @if (ViewData.ContainsKey("Errors"))
        {
            <div class="row">
                <div class="col-6">
                    @foreach(var error in ViewBag.Errors)
                    {
                        <span class="text-danger">@error</span>
                    }
                </div>
            </div>
        }
    </div>
</form>

@section Scripts{
    @{
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ]
            });
        </script>
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}