@if(TempData["Success"] != null)
{
    <script href="~/lib/jquery/dist/jquery.min.js"></script>
    <script href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <h2>@TempData["Success"]</h2>
}
@if (TempData["Error"] != null)
{
    <script href="~/lib/jquery/dist/jquery.min.js"></script>
    <script href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <h2>@TempData["Error"]</h2>
}